@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

// These styles were on the `body` tag, we move them to a container
.sceneContainer {
    // background-color: #d2d2d2;
    // background-image: repeating-linear-gradient(
    //         to right,
    //         transparent 0 100px,
    //         #25283b22 100px 101px
    //     ),
    //     repeating-linear-gradient(
    //         to bottom,
    //         transparent 0 100px,
    //         #25283b22 100px 101px
    //     );
    // color: var(--color-text-primary);

    // The `body::before` styles are now applied to our container
    &::before {
        position: absolute;
        width: min(1400px, 90vw);
        top: 10%;
        left: 50%;
        height: 90%;
        transform: translateX(-50%);
        content: "";
        // background-image: url(/tools/bg.png); // Path from public folder
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        pointer-events: none;
    }
}

//

.banner {
    width: 100%;
    height: 100dvh;
    text-align: center;
    overflow: hidden;
    position: relative;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;

    @media (max-width: 940px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .slider {
        transform: rotateY(0deg);
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: start;
        margin-top: 13vh;

        width: 150px;
        height: 150px;

        object-fit: cover;

        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: autoRun 20s linear infinite;
        z-index: 2;

        @media (max-width: 1658px) {
            width: 130px;
        }
        @media (max-width: 1280px) {
            width: 110px;
        }
        @media (max-width: 1180px) {
            width: 80px;
            margin-top: 19vh;
        }
        @media (max-width: 940px) {
            grid-row: 2/3;
            grid-column: 1/2;
            margin-top: 0vh;
            align-self: center;
        }
        @media (max-width: 768px) {
            width: 90px;
        }
        @media (max-width: 430px) {
            width: 60px;
        }
        @media (max-width: 360px) {
            width: 50px;
        }
  

        .item {
            position: absolute;
            inset: 0;
            --responsive-z: clamp(160px, 35vw, 600px);

            transform: rotateY(
                    calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
                )
                translateZ(var(--responsive-z));
            img {
                width: 100%;
                object-fit: cover;

                @media (max-width: 1024px) {
                    width: clamp(2rem, 100%, 3rem);
                }
            }

            p {
                font-size: clamp(0.5rem, 2.5vw, 1rem);
            }
        }
    }

    .logo {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        margin-top: -13vh;
        @media (max-width: 940px) {
            grid-row: 2/3;
            grid-column: 1/2;
            margin-top: -1.5vh;
        }
        @media (max-width: 500px) {
            margin-top: -3rem;
        }

        h2 {
            font-size: var(--text-4xl);
            font-style: italic;
            font-weight: 400;

            @media (max-width: 500px) {
                font-size: var(--text-2xl);
            }
        }
    }

    .title {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
        justify-self: start;
        margin-left: 0.5rem;

        @media (max-width: 940px) {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: center;
            margin-left: 0rem;
        }


        h1 {

            font-family: "ICA Rubrik", sans-serif;
            margin: 0;
            font-size: clamp(5rem, 100%, 10rem);
            color: #25283b;
            position: relative;
            white-space: nowrap;
            display: block;
            margin: 0;
            line-height: 0.75;
            writing-mode: vertical-rl;
            transform: rotate(180deg);

            @media (max-width: 940px) {
                transform: rotate(0deg);
                writing-mode: horizontal-tb;
            }

            &::after {
                position: absolute;
                inset: 0;
                content: attr(data-content);
                z-index: 2;
                -webkit-text-stroke: 2px #d2d2d2;
                color: transparent;
            }

            @media (max-width: 1280px) {
                font-size: var(--text-6xl);
            }
            @media (max-width: 1024px) {
                font-size: var(--text-5xl);
            }
            @media (max-width: 940px) {
                font-size: var(--text-3xl);
                margin-top: 1rem;
            }
        }
    }

    .content {
        left: -5%;
        grid-column: 2/3;
        grid-row: 2/3;

        z-index: 1;

        display: flex;
        align-items: center;

 
        @media (max-width: 940px) {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .author {
            font-family: "Poppins", sans-serif;
          

            p {
                font-size: var(--text-2xl);
                font-weight: 500;
                text-transform: capitalize;
                width: 100%;
                align-self: center;
                margin-bottom: 1rem;
                margin-left: 1rem;

                @media (max-width: 1280px) {
                    font-size: var(--text-xl);
                    margin-bottom: 2rem;
                }
                @media (max-width: 1024px) {
                    font-size: var(--text-lg);
                    margin-bottom: 2.5rem;
                }
                @media (max-width: 940px) {
                    margin-left: 0;
                }
                @media (max-width: 500px) {
                    font-size: var(--text-md);
                }
            }
        }
    }
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
