// Import the responsive mixins using modern @use syntax
@use "../../styles/responsive.scss" as *;

.header {
    @include responsive-spacing("padding", 20);
    position: fixed;
    right: 0;
    top: -1%;
    z-index: 120;

    @include tab-land {
        right: -2%;
        top: -2%;
    }

    .button {
        @include responsive-spacing("width", 25);
        @include responsive-spacing("height", 25);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        // @include tablet {
        //     @include responsive-spacing("width", 25);
        //     @include responsive-spacing("height", 25);
        // }
    }

    .burger {
        width: 50%;
        height: 2px;
        background-color: white;
        position: relative;
        transition: background-color 0.3s;
           @include mobile{
                height: 1px;
            }
            

        &::before,
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            margin: auto;
            background-color: white;
            position: absolute;
            transition: transform 0.3s, top 0.3s;
            @include mobile{
                height: 1px;
            }
            
        }

        &::before {
            top: -10px;
                @include mob-land{
                top: -8px;
            }
                @include mobile{
                top: -7px;
            }
          
           
            
           
        }

        &::after {
            top: 10px;
               @include mob-land{
                top: 8px;
            }
               @include mobile{
                top: 7px;
            }
        }
    }

    .burgerActive {
        background-color: transparent; // Hide the middle line

        &::before {
            transform: rotate(45deg);
            top: 0;
        }

        &::after {
            transform: rotate(-45deg);
            top: 0;
        }
    }
}
