// We keep the font import here as it's specific to this component's style
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.buttons {
    // --- Sizing and Shape ---
    // width: 200px;
    // height: 60px;
    width: auto;
    // height: 60px;
    // height: clamp(1rem, 10vh, 2.5rem);
    height: clamp(2.2rem, 5vh, 3.5rem);
    border-radius: 3rem 0 3rem 0; 
    padding: 0 1rem 0 1rem;

    // --- Basic Styling ---
    border: none;
    outline: none;
    cursor: pointer;
    // background: #e3e3e3;
    // --button-default-color: #d9ecff;
    --button-default-color: var(--color-background-secondary);

    background: var(--button-dynamic-color, var(--button-default-color));
    // --- Font Styling ---
    // font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 3rem);
    // color: #333333; // Default text color
    color: var(--color-text-primary);

    // --- Crucial Additions for NavLink (<a> tag) ---
    text-decoration: none; // Removes the default link underline
    display: inline-flex; // Ensures proper alignment and sizing
    justify-content: center;
    align-items: center;

    // --- Smooth Transition ---
    transition: all 0.1s;

    box-shadow: 5px 5px 2px #00000043, -5px -5px 5px #00000033,
        inset 0 0 0 0 #333333,
        inset 2px 5px 6px
            var(--button-dynamic-color, var(--button-default-color)),
        inset 8px 15px 6px -5px #b0b0b032,
        inset 0 0 3px 6px
            var(--button-dynamic-color, var(--button-default-color)),
        inset 0 -4px 5px 7px var(--button-dynamic-color, var(--button-default-color));

    //    &:hover {
    //         background: #839cb5;
    //         box-shadow: 5px 5px 2px #00000043, -5px -5px 5px #00000033,
    //             inset 0 0 0 0 #333333, inset 2px 5px 6px #839cb5,           inset 8px 15px 6px -5px #b0b0b032, inset 0 0 3px 6px #839cb5,
    //             inset 0 -4px 5px 7px #b0b0b0b3;
    //     }
    &:hover{
        color: var( --color-text-secondary);
    }

    &:active {
        background: var(--button-dynamic-color, var(--button-default-color));
        color: #333333;
        box-shadow: 0 0 0 #00000093, -5px -5px 5px #00000033,
            inset 3px 6px 0 #33333399, inset 3px 6px 5px #333333,
            inset 2px 5px 6px transparent, inset 8px 15px 6px -5px #b0b0b032,
            inset 0 0 3px 6px
                var(--button-dynamic-color, var(--button-default-color)),
            inset 0 -12px 5px 0 #ffffff32;
    }
}
